@{
    ViewBag.Title = "Home";
}<!-- ko with: home -->
<div class="jumbotron">
    <h1>會議室預約系統</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>介紹</h2>
        <p>本會議預約系統是為軟體工程作業設計，包含五份相關文件，但我懶得放連結。</p>

    </div>

    <div class="col-md-4">
        <h2>系統使用規則</h2>
        <p>
            請勿攻擊此網站，作業會交不上去。
        </p>
    </div>

    <div class="col-md-4">
        <h2>會議室使用規則</h2>
        <p>會議室都不存在，故沒有會議室使用規則。</p>
    </div>
</div>

<!-- /ko -->
